torch
torchvision
pytorch-lightning
segmentation-models-pytorch
torchmetrics
albumentations
rasterio
numpy
pillow
opencv-python
pyyaml
pydantic
mlflow
dvc
tqdm
matplotlib
scikit-learn
tensorboard
ultralytics
